.selectArtistWrapper{
  .line-up-wrapper{
    background-color: #000;
    border-radius: 5px;
    padding: 1em;
    padding-top: 0.3em;
    color: #FFF;
    margin: 2em 0;
  }

  .submit{
    border: solid 2px $brand-success;
    background-color: $brand-success;
    color: #000;
    font-weight: 900;
  }

  .media{
    padding: 0.4em;

    .media-wrapper{
      padding: 0.3em;

      cursor: pointer;
    }

    .media-body{
      vertical-align: middle;
    }
  }

  #myLineUp{
    .media-wrapper{
      cursor: pointer;
      cursor: url("http://www.fournipro.ma/e-catalogue/mobile/style/icon/delete.png"), auto;
    }
  }

  #artists{

    .media-wrapper:hover{
      background-color: #ddd;
      border-radius: 5px;
    }

    .selected{

      .media-wrapper {
        background-color: #000;
        color: #FFF;
        font-weight: 900;
        border-radius: 5px;
      }

    }
  }

  .submit-wrapper{
    margin-top: 2em;
  }
}