.top-bar{
  background-color: #000;
  margin-top: 5px;

  .top-gradient-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgb(247,49,49); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(247,49,49) 0%, rgb(255,199,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(247,49,49) 0%,rgb(255,199,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(247,49,49) 0%,rgb(255,199,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f73131', endColorstr='#ffc700',GradientType=1 ); /* IE6-9 */
  }

  .logo-bar {
    height: 35px;
    margin-top: 1em;
    margin-bottom: 1em;

    .logo {
      height: 100%;
      float: left;
    }

    .title {
      display: inline-block;
      font-weight: 900;
      font-size: 1.8em;
      margin-left: 1em;
      color: #FFF;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .title, .logo {
      position: relative;
      margin-bottom: 0;
      margin-top: 0;
    }


  }
}