.register{
  background-color: #000;
  min-height: 100vh;
  color: #fff;

  .container{
    width: 40em;
    text-align: center;
    padding-top: 3em;
  }

  .btn_Facebook{
    width: 100%;
    border: none;
    background-color: #3B5998;
    color: #fff;
    margin-top: 2em;
    font-weight: 900;
    margin-bottom: 1em;
  }

  .form-group{
    .form-control{
      margin-bottom: 0.5em;
      background-color: #252525;
      border: none;
      color: #FFF;
      font-weight: 100;
    }
  }

  .form-group.has-error{
    .form-control{
      border: solid 1px #ff0c49;
    }
  }

  .submit{
    margin-top: 1em;
    border: solid 2px $brand-success;
    background-color: $brand-success;
    color: #000;
    font-weight: 900;
    width: 100%;

  }
  .alert{
    background-color: #ff0c49;
    color: #FFF;
    text-align: left;
    border: none;

    ul{
      list-style: none;
      padding: 0;
    }
  }



}