.showParticipant{
  .line-up-wrapper{
    background-color: #000;
    border-radius: 5px;
    padding: 1em;
    padding-top: 0.3em;
    color: #FFF;
    margin: 2em 0;
  }

  .title{
    margin-bottom: 1em;
  }

  #myLineUp{
    margin-bottom: 3em;

    .media{
      .media-body{
        vertical-align: middle;
      }
    }
  }

  .votes{
    border: solid 2px $brand-success;
    border-radius: 3px;
    padding: 1em;
    color: #000;
    font-weight: 900;
  }
  
  .has-error{
    color: #ff0c49;
  }

  .btn_Facebook{
    border: none;
    background-color: #3B5998;
    color: #fff;
    margin-top: 1em;
    font-weight: 900;
    margin-bottom: 1em;
  }
}