.welcome{

  background-color: #000;

  .logo-bar{
    height: 50px;
    margin-top: 3em;

    .logo{
      height: 100%;
    }

    .title{
      display: inline-block;
      font-weight: 900;
      margin-left: 1em;
      color: #FFF;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .title, .logo{
      position: relative;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .expl{
    margin: 3em 0;
    color: #FFF;

    p{
      font-weight: 100;
    }

    a{
      margin-top: 1em;
      border: solid 2px $brand-success;
      background-color: transparent;
      color: $brand-success;
      font-weight: 900;

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    a:hover{
      background-color: $brand-success;
      color: #000;
    }
  }

  
  .top-gradient-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgb(247,49,49); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(247,49,49) 0%, rgb(255,199,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(247,49,49) 0%,rgb(255,199,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(247,49,49) 0%,rgb(255,199,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f73131', endColorstr='#ffc700',GradientType=1 ); /* IE6-9 */
  }


}